*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family:Arial, Helvetica, sans-serif;
}

body{
    background-color: rgb(108, 126, 139);;
}

/* start of header & navigation styling */

.header {
    padding: 15px 20px;
    background-color: rgb(6, 24, 36);
    color: gainsboro;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.header h1{
    margin: 0;
    font-size: 40px;
}

.header nav{
    margin: 7px 0;
}

.header nav ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    list-style: none;
}

.header nav ul li a{
    padding: 10px 15px;
    font-weight: bold;
    font-size: 1.2vw;
    text-decoration: underline; 
    color: gainsboro;
    list-style-type: none;
}

/* start of banner css */

.banner{
    background-image: url('../images/banner.png');
    background-size: cover;
    display: flex;
    justify-content:flex-start;
    flex-wrap: wrap;
    align-items:center;
}

.subtitle{
    color: rgb(6, 24, 36);
    text-shadow: 5px 5px 15px gainsboro;
    margin: 3.5%;
    font-size:18px;  
}

.banner img{
    float:left;
    width: 300px;
    height: auto;
}

/*start of about me section */

.intro{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    flex-direction: row;
    margin: 20px; 
}

/* start of work styling */
.my-projects{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    flex-direction: row;
}

.my-projects h2{
    margin: 10px;
}

.projects{
    margin: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
/* project 1 css*/
.project1 img{
    width: 50%;
    padding: 10px 0px;
}

/* project 2 css */
.project2{
    width: 50%;
    padding: 50px 0px;
    background-image: url('../images/coming-soon.jpg');
    background-size: cover;
    background-position: center;
}

/* project 3 css */
.project3{
    width: 50%;
    padding: 50px 0px;
    background-image: url('../images/coming-soon.jpg');
    background-size: cover;
    background-position: center;
}

/* project 4 css */
.project4{
    width: 50%;
    padding: 50px 0px;
    background-image: url('../images/coming-soon.jpg');
    background-size: cover;
    background-position: center;
}

/* project 5 css */
.project5{
    width: 50%;
    padding: 50px 0px;
    background-image: url('../images/coming-soon.jpg');
    background-size: cover;
    background-position: center;
}

/* project title's css */
.projects h3{
    color: gainsboro;
}

/*END OF PROJECT CSS */

/*start of contact me section */
.contact{
    padding: 15px 20px;
}

.contact a{
    padding: 10px 15px;
    font-weight: bold;
    font-size: 1.2vw;
    color:rgb(6, 24, 36);
    text-decoration: underline;
}

